@import "~react-multi-carousel/lib/styles.css";

.App{
    background: #F5F5F5;
}

.review-container{
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.review-container .box{
    width: 100%;
    position: relative;
    padding: 80px 40px 40px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);

}

.review-container .box:hover{
    
    background: #FFA500;
}

.review-container .box p {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.review-container .box h4{
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.review-container .box h4{
    font-weight: 600;
    font-size: 14px;
    color: #FFA500;
    transition: 0.5s;
}

.review-container .box:hover p,
.review-container .box:hover h4 {
    color: #fff;
}


.review-container .box .imgBox {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);

}

.review-container .box:before{
    position: absolute;
    content: "";
    top: 20px;
    left: 40px;
    width:80px;
    height: 80px;
    background: url(./assets/img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
}

.review-container .box:hover:before{
    transform: translateY(-60px);
    opacity: 1;
}

.review-container .box:after{
    position: absolute;
    content: "";
    bottom: 20px;
    right: 40px;
    width:80px;
    height: 80px;
    background: url(./assets/img/quotes.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    transform: rotate(180deg) translateY(0);

}

.review-container .box:hover:after{
    transform: rotate(180deg) translateY(60px);
    opacity: 1;
}

@media (max-width: 825px){
    .review-container .box{
        margin-top: 80px;
    }
}